.app_dark{
    --bg-color: #2c2c77;
    --inverted-bg-color: rgb(219, 219, 241);
    --primary-color: #035203;
    --secondary-color: #a50e3b;
    --inverted-primary-color: #2a4d09;
    --inverted-secondary-color: #143f70;

}