.app_light{
    --bg-color: rgb(219, 219, 241);
    --inverted-bg-color: #2c2c77;
    --primary-color: #2a4d09;
    --secondary-color: #96b9e2;
    --inverted-primary-color: #035203;
    --inverted-secondary-color: #d85b12;
}